.card {
    padding: 3px;
    margin: 5px;
    width: 300px;
    height: auto;
}

.list-item {
    height: auto !important;
}

.action-panel {
    display: flex;
    flex-direction: row-reverse;
}

.form-field {
    width: 200px;
    margin-left: 10px;
}