<div class="card">
  <mat-card>
    <mat-card-content>
      <div class="action-panel">
        <button mat-mini-fab color="primary" (click)=onAddTodoItem()>
          <mat-icon aria-label="Add new todo item">
            add
          </mat-icon>
        </button>
      </div>
      <div class="todo-list" cdkDropList
        (cdkDropListDropped)="onDropTodoItem($event)">
        <div class="todo-item" *ngFor="let item of todoList.getItems()" cdkDrag>
          <div class="drag-indicator" cdkDragHandle>
            <mat-icon>
              drag_indicator
            </mat-icon>
          </div>
          <div class="checkbox">
            <mat-checkbox [checked]="item.checked"
              (change)="onTodoItemChecked($event, item.id)">
            </mat-checkbox>
          </div>
          <div>
            <mat-form-field class="form-field">
              <input matInput value="{{ item.value }}"
                (blur)="onTodoItemValueBlur($event, item.id)">
            </mat-form-field>
          </div>
          <div>
            <button mat-button color="warn" (click)=onDeleteTodoItem(item.id)>
              <mat-icon>
                clear
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-panel">
      <button mat-button color="warn" (click)=onDeleteTodoList($event)>
        <mat-icon>
          delete_forever
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>