<div class="card">
  <mat-card>
    <mat-card-content>
      <div class="action-panel">
        <button mat-mini-fab color="primary" (click)=onAddTodoItem()>
          <mat-icon aria-label="Add new todo item">
            add
          </mat-icon>
        </button>
      </div>
      <mat-list>
        <mat-list-item role="listitem" *ngFor="let item of todoList.getItems()">
          <div class="todo-item">
            <mat-checkbox>
              <mat-form-field class="form-field">
                <input matInput value="{{ item.value }}">
              </mat-form-field>
            </mat-checkbox>
            <button mat-button color="warn" (click)=onDeleteTodoItem(item.id)>
              <mat-icon>
                clear
              </mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class="action-panel">
      <button mat-button color="warn" (click)=onDeleteTodoList($event)>
        <mat-icon>
          delete_forever
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>